.tour-operator {
  margin: 20 auto 20 auto;
  // height: 300px;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid;
  padding: 30px;
}

.tour-operator:hover {
    transform: scale(1.05);
    background-color: white;
}

.logo-to {
  width: 100%;
  height: auto;
  max-width: 240px;
  border-radius: 50%;
  border: 1px solid black;
}

.description-to {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-size: 15px;
  padding: 11px;
  height: 240px;
  overflow: hidden;
}

.note {
  font-size: 30px;
  font-family: "Roboto";
  text-align: end;
}

.price {
  font-size: 25px;
  font-family: "Roboto";
  text-align: left;
  color: #6ab2dd;
  padding: 30px;
}

@media screen and (max-width: 992px) {
  .tour-operator {
    height: auto;
  }
  .logo-to {
    display: block;
    margin: auto;
  }
}
