@font-face {
  font-family: "Hand_Of_Sean";
  src: url("/assets/styles/fonts/Hand_Of_Sean_Demo.ttf");
  font-display: auto;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/styles/fonts/Roboto-Regular.ttf");
  font-display: auto;
}

@font-face {
  font-family: "Bon_Voyage";
  src: url("/assets/styles/fonts/K26BonVoyage.ttf");
  font-display: auto;
}
