.header {
    overflow: hidden; 
    background-image: url(https://www.tcs.ch/assets/img/header-pictures/camping-reisen/reiseinformationen/laenderinfos/weblication/wThumbnails/vereinigte-arabische-emirate-63f9e178448924bgd25c79ce34f42c77.jpg);
    background-position-y: -20px;
    padding: 20px 10px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: rgba(50, 170, 226, 0.349);
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

#logo {
    width: 150px;
}